/* Write the CSS for you answer here */
 
.background{
        position: absolute;
        z-index: 1;
}

.pink{
        position: relative;
        left: 120px;
        top: 280px;
        z-index: 2;
        animation: bounce 3s;
        animation-direction: alternate-reverse;
        animation-iteration-count: 2;
        animation-name: bounceball
        
}

.tree{
        position: absolute;
        width: 335%;
        height: 700%;
        z-index: 3;
}


.blueball{
        position: absolute;
        left: 100px;
        top: 150px;
        z-index: 4;
        animation: bounce 3s;
        animation-direction: alternate-reverse;
        animation-iteration-count: 2;
        animation-name: bounceball
}

.darkblueball{
        position: absolute;
        top: 300px;
        z-index: 5;
        animation: bounce 3s;
        animation-direction: alternate-reverse;
        animation-iteration-count: 2;
        animation-name: bounceball
}
 
.green{
        
        position: relative;
        left: 400px;
        top: 150px;
        z-index: 6;
        animation: bounce 3s;
        animation-direction: alternate-reverse;
        animation-iteration-count: 2;
        animation-name: bounceball
}

.orange{
        position: relative;
        left: 450px;
        top: 300px;
        z-index: 7;
        animation: bounce 3s;
        animation-direction: alternate-reverse;
        animation-iteration-count: 2;
        animation-name: bounceball;
}
.red{
        position: relative;
        left: 450px;
        top: 230px;
        z-index: 8;
        transition: all 3s ease-in-out;
       animation: bounce 3s;
       animation-direction: alternate-reverse;
       animation-iteration-count: 2;
       animation-name: bounceball;
}

.red:hover{
        transform: scale(1.7);
}

@keyframes bounceball {
        from {transform: translate3d(0, 0, 0); }
        to {transform: translate3d(0, 100px, 0);}
}
