/* Write the CSS for you answer here */
 
.background{
        position: absolute;
        z-index: 1;
}

.pink{
        position: relative;
        left: 120px;
        top: 300px;
        z-index: 2;

}

.tree{
        position: absolute;
        width: 335%;
        height: 700%;
        z-index: 3;
}

.blueball{
        position: absolute;
        left: 100px;
        top: 150px;
        z-index: 4;
}

.darkblueball{
        position: absolute;
        top: 300px;
        z-index: 5;
}
 
.green{
        
        position: relative;
        left: 400px;
        top: 150px;
        z-index: 6;
}

.orange{
        position: relative;
        left: 450px;
        top: 300px;
        z-index: 7;
}
.red{
        position: relative;
        left: 450px;
        top: 230px;
        z-index: 8;
}
