

    @font-face{
        font-family: 'myFirstFont';
        src: url('fonts/AlexBrush-Regular.ttf'); 
    }
    body{
        background-color: lavender;
        padding: 0px;
        margin: 40px;
    }
    
    pre.poem {
        font-family: 'myFirstFont', Georgia, serif;
        font-size: 22pt;
        color: purple;
        line-height: 1.5;
        margin: auto;
        width: max-content;
     
    }

    div#box {
        margin: auto;
        width: 60%;
        box-sizing: border-box;
        background-color: white;
        background-image: url("assets/ytile-pattern.png");
        background-repeat: repeat-y; 
        background-position: 15%;
        
    }
     

    .border-effect {
        justify-content: center;
        border-radius: 0px 70px 0px 70px;
        box-shadow: 10px 10px 10px 10px;
        
    }

    .LT{
        position: absolute;
        left: 0%;
        top: 0%;
    }
 
    .RB{
        position: absolute;
        right: 0%;
        bottom: -460%;
    }
    
    
