
img {
    display: none;
    }
    

  
    body{
        font-family: times;
        
    }
    
    pre.poem {
        font-size: 22pt;
        color: black;
     
    }

    div#box {
        background-color: white;
        
        
    }
     

    .border-effect {
        justify-content: center;
        
    }
    a{
        color: black;
        text-decoration: none;
    }

   